build/
out/
resin/
.idea*/
target/

.history

velocity.*

*.log
*.ipr
*.iml
*.iws
.classpath
.project

*~

.DS_Store
._.DS_Store

r2.sublime-project
r2.sublime-workspace
/.history
/jdk-6u31-linux-i586.bin
